<div class="table-responsive">
<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th class="col-md-2" rowspan="3">
				<a ng-click="reverse = !reverse;"><i class="glyphicon glyphicon-sort"></i></a> Дата
			</th>
			<th colspan="4" class="col-md-6">Водоснабжение</th>
			<th class="col-md-2" rowspan="3">Электричество</th>
			<th class="col-md-2" rowspan="3">Газ</th>
		</tr>
		<tr>
			<th colspan="2">Горячее</th>
			<th colspan="2">Холодное</th>
		</tr>
		<tr>
			<th>Ванна</th>
			<th>Кухня</th>
			<th>Ванна</th>
			<th>Кухня</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-hide="addNew">
			<td colspan="7">
				<button class="btn btn-link center-block" ng-click="addNew = !addNew;">
					Добавить
				</button>
			</td>
		</tr>
		<tr ng-show="addNew" class="warning">
			<td>
				<div class="input-group input-group-sm">
					<input type="text" class="form-control input-sm" datepicker-popup="dd.MM.yyyy" ng-model="dt" is-open="dpopened" init-date="dt" ng-required="true" close-text="Закрыть" current-text="Сегодня" clear-text="Очистить" />
					<span class="input-group-btn">
						<button type="button" class="btn btn-default btn-sm" ng-click="openDatepicker($event)">
							<i class="glyphicon glyphicon-calendar"></i>
						</button>
					<span class="input-group-btn">
				</div>
			</td>
			<td>
				<input class="form-control input-sm" type="text" ng-model="newRec.hb">
			</td>
			<td>
				<input class="form-control input-sm" type="text" ng-model="newRec.hk">
			</td>
			<td>
				<input class="form-control input-sm" type="text" ng-model="newRec.cb">
			</td>
			<td>
				<input class="form-control input-sm" type="text" ng-model="newRec.ck">
			</td>
			<td>
				<input class="form-control input-sm" type="text" ng-model="newRec.el">
			</td>
			<td>
				<input class="form-control input-sm" type="text" ng-model="newRec.gs">
			</td>
		</tr>
		<tr ng-show="addNew" class="warning">
			<td colspan="7">
				<button type="button" class="btn btn-primary btn-sm pull-right" ng-click="pushData()">
					<span class="glyphicon glyphicon-ok"></span>
				</button>
			</td>
		</tr>
		<tr ng-repeat="rec in all.vals | orderBy:'hb':reverse track by $index">
			<td>{{rec.day}}.{{rec.month}}.{{rec.year}}</td>
			<td>{{rec.hb}}</td>
			<td>{{rec.hk}}</td>
			<td>{{rec.cb}}</td>
			<td>{{rec.ck}}</td>
			<td>{{rec.el}}</td>
			<td>{{rec.gs}}</td>
		</tr>
	</tbody>
</table>
</div>
